html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
/* body{
  background-color: var(--yellow-color);
} */
:root{
  --orange-color: #ff652f;
  --yellow-color: #ffe400;
  /* --green-color: #3dbb3d; */
  --green-color: #4ec193;
  --gray-color: #747474;
  --black-color: #272727;
}
.app {
  display: flex;
}



/* ========== NAV ========== */

nav {
  /* min-height: 100%; */
  height: 100vh;
  background-color: var(--black-color);
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

 .controls-container {
  padding: 40px 25px;
  display: flex;
  flex-direction: column;
}

.logo-container{
  display: flex;
  justify-content: center;
  margin-top: 52px;
}
.logo-container img {
  width: 50px;
  border-radius: 10px;

}

.icon {
  color: rgb(255, 255, 255);
}

/* ========== DASHBOARD ========== */

.dashboard {
  padding: 30px;
  width: 100%;
}

.dashboard .ticket-container {
  height: 80vh;
  overflow: scroll;
}

#link{
  text-decoration: none;
}

/* ========== TICKETCARD ========== */
.ticket-card {
  display: flex;
  width: 100%;
  height: 160px;
}

.ticket-card #link {
  display: flex;
  width: 100%;
}

.links{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ticket-card h4{
  text-align: center;
}

.ticket-card #link > * {
  background-color: var(--green-color);
  color: var(--black-color);
  margin: 2px;
  padding: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-size: 15px;
}

.ticket-card .ticket-color {
  width: 15px !important;
  margin: 2px;
  padding: 10px;
}

/* .avatar-container {
  display: flex;
  height: 0px;
  justify-content: center;
  align-items: center;
  width: 100px;
} */

.img-container {
  width: 130px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}

.img-preview{
  display: flex;
}
.img-preview img{
  width: 100%;
}

.img-container img {
  width: 100%;
  object-fit: cover;
}

.status-display {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.ticket-card .priority-display .star-container {
  display: flex;
  justify-content: center;
}

.ticket-card .priority-display .star-container h3 {
  margin: 7px;
  padding: 0;
}

.ticket-card .progress-display {
  min-width: 200px;
}

.ticket-card .progress-bar {
  width: 100%;
  height: 30px;
  background-color: rgb(158, 158, 158);
  border-radius: 15px;
  overflow: hidden;
}

.ticket-card .progress-bar .progress-indicator {
  background-color: rgb(104, 104, 175);
  height: 100%;
}

.delete-block {
  background-color: var(--orange-color);
  width: 50px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-block:hover{
  cursor: pointer;
}

.delete-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(61, 61, 61); */
  border-radius: 10px;
  color: rgb(255, 255, 255);
  width: 20px;
  height: 20px;
}

/* ========== TICKET PAGE ========== */

.ticket {
  padding: 30px;
  width: 100%;
}

.ticket .ticket-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  width: 60%;
}

.ticket form section{
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 60%;
}

.ticket form label{
  margin: 20px 0 0 0;
}

form select, form input {
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: 1.5px solid rgb(218,218,218);
  margin: 5px;
}

.ticket form .multiple-input-container{
  margin: 20px 0;
}